.header {
  padding: 30px 0;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__link {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.header .header__link:hover {
  color: #A259FF;
}
.header .header__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 152px;
  height: 60px;
  padding: 0px 30px 0px 30px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #A259FF;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.header .header__menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 30px;
  }
  .header .header__link {
    display: none;
  }
  .header .header__btn {
    display: none;
  }
  .header .header__menu {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .header {
    padding: 30px 30px;
  }
  .header .header__link {
    display: none;
  }
  .header .header__btn {
    display: none;
  }
  .header .header__menu {
    display: block;
  }
}
.hero {
  padding: 50px 0;
}
.hero .hero__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .hero__title {
  max-width: 410px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.hero .hero__text {
  max-width: 410px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.hero .hero__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 224px;
  height: 60px;
  padding: 0px 50px 0px 50px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #A259FF;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.hero .hero__card {
  width: 510px;
  height: 510px;
  border-radius: 20px 20px 0px 0px;
  gap: 0px;
  opacity: 0px;
  background: #3B3B3B;
}
.hero .hero__image {
  width: 510px;
  height: 401px;
  gap: 0px;
  border-radius: 20px 20px 0px 0px;
  opacity: 0px;
  margin-bottom: 15px;
}
.hero .hero__sub-title {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-left: 30px;
}
.hero .hero__block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}
.hero .hero__name {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 50px 30px;
  }
  .hero .hero__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .hero .hero__title {
    max-width: 300px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    color: #FFFFFF;
  }
  .hero .hero__text {
    max-width: 300px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #FFFFFF;
  }
  .hero .hero__btn {
    width: 224px;
    height: 60px;
    padding: 0px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
  }
  .hero .hero__card {
    width: 330px;
    height: 330px;
    gap: 0px;
    opacity: 0px;
  }
  .hero .hero__image {
    width: 330px;
    height: 221px;
    gap: 0px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0px;
  }
}
@media screen and (max-width: 720px) {
  .hero__container {
    flex-direction: column-reverse;
  }
  .hero__card {
    margin-bottom: 15px;
  }
}
.top {
  padding: 100px 0;
}
.top .top__card {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-bottom: 60px;
}
.top .top__title {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.top .top__text {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
}
.top .top__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 247px;
  height: 60px;
  padding: 0px 50px 0px 50px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  border: 2px 2px 2px 2px;
  opacity: 0px;
  border: 2px solid #A259FF;
  background: #2B2B2B;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.top .top__content {
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  margin-bottom: 30px;
}
.top .top__cart {
  text-align: center;
  width: 240px;
  height: 238px;
  padding: 20px 20px 20px 20px;
  gap: 20px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #3B3B3B;
}
.top .top__image {
  width: 120px;
  height: 120px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 15px;
}
.top .top__name {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.top .top__block {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.top .top__sub-title {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: #858584;
}
.top .top__namber {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .top {
    padding: 100px 30px;
  }
  .top .top__content {
    grid-template-columns: repeat(2, 330px);
  }
  .top .top__text {
    width: 343px;
    gap: 0px;
    opacity: 0px;
  }
  .top .top__cart {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 330px;
    height: 100px;
    padding: 20px 20px 20px 20px;
    gap: 20px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    margin-bottom: 30px;
  }
  .top .top__image {
    width: 60px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
  }
}
@media screen and (max-width: 720px) {
  .top {
    padding: 50px 30px;
  }
  .top .top__card {
    flex-direction: column;
  }
  .top .top__text {
    margin-bottom: 30px;
  }
  .top .top__content {
    grid-template-columns: repeat(1, 315px);
  }
  .top .top__cart {
    width: 315px;
    height: 100px;
    padding: 20px 20px 20px 20px;
    gap: 20px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
  }
}
.browse {
  padding: 50px 0;
}
.browse .browse__title {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 30px;
  margin-bottom: 60px;
}
.browse .browse__content {
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  margin-bottom: 30px;
}
.browse .browse__cart {
  width: 240px;
  height: 316px;
  gap: 0px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #3B3B3B;
}
.browse .browse__image {
  width: 240px;
  height: 240px;
  gap: 10px;
  border-radius: 20px 20px 0px 0px;
  opacity: 0px;
  margin-bottom: 15px;
}
.browse .browse__name {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .browse {
    padding: 50px 30px;
  }
  .browse .browse__content {
    grid-template-columns: repeat(4, 150px);
    margin-bottom: 30px;
  }
  .browse .browse__cart {
    width: 150px;
    height: 231px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    margin-bottom: 30px;
  }
  .browse .browse__image {
    width: 150px;
    height: 142px;
    gap: 10px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0px;
  }
  .browse .browse__name {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
  }
}
@media screen and (max-width: 720px) {
  .browse {
    padding: 50px 30px;
  }
  .browse .browse__content {
    grid-template-columns: repeat(2, 150px);
    margin-bottom: 30px;
  }
}
.more {
  padding: 50px 0;
}
.more .more__content {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-bottom: 60px;
}
.more .more__title {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.more .more__text {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
}
.more .more__btn {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 187px;
  height: 60px;
  padding: 0px 50px 0px 50px;
  border-radius: 20px 20px 20px 20px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #A259FF;
  background: #2B2B2B;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.more .more__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 330px);
}
.more .more__cart {
  width: 330px;
  height: 469px;
  gap: 0px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #3B3B3B;
}
.more .more__image {
  width: 330px;
  height: 296px;
  gap: 0px;
  border-radius: 20px 20px 0px 0px;
  opacity: 0px;
  margin-bottom: 15px;
}
.more .more__sub-title {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 30px;
}
.more .more__img {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 30px;
  margin-bottom: 15px;
}
.more .more__name {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #FFFFFF;
}
.more .more__box {
  display: flex;
  align-items: center;
  gap: 110px;
  margin-left: 30px;
}
.more .more__boxes {
  margin-bottom: 15px;
}
.more .more__names {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  color: #858584;
}
.more .more__number {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .more {
    padding: 50px 30px;
  }
  .more__card {
    grid-template-columns: repeat(2, 330px);
  }
  .more__cart {
    width: 330px;
    height: 469px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
  }
}
@media screen and (max-width: 720px) {
  .more {
    padding: 50px 30px;
  }
  .more .more__content {
    flex-direction: column;
  }
  .more .more__text {
    margin-bottom: 30px;
  }
  .more .more__card {
    grid-template-columns: repeat(1, 315px);
  }
  .more .more__cart {
    width: 315px;
    height: 402px;
    opacity: 0px;
    margin-bottom: 30px;
  }
  .more .more__image {
    width: 315px;
    height: 238px;
    gap: 0px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0px;
  }
  .more .more__sub-title {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
  }
  .more .more__number {
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    text-align: left;
  }
}
.our {
  padding: 50px 0;
}
.our .our__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1050px;
  height: 430px;
  padding: 60px 60px 60px 60px;
  gap: 80px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #3B3B3B;
}
.our .our__image {
  width: 425px;
  height: 310px;
  gap: 0px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
}
.our .our__title {
  max-width: 325px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.our .our__text {
  max-width: 325px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.our .our__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 425px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #2B2B2B;
  background: #FFFFFF;
}
.our .our__input {
  border: none;
}
.our .our__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 224px;
  height: 60px;
  padding: 0px 50px 0px 50px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #A259FF;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .our {
    padding: 50px 30px;
  }
  .our .our__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 690px;
    height: 360px;
    padding: 40px 30px 40px 30px;
    gap: 30px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background: #3B3B3B;
  }
  .our .our__image {
    width: 300px;
    height: 280px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
  }
  .our .our__title {
    max-width: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
    color: #FFFFFF;
  }
  .our .our__text {
    max-width: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #FFFFFF;
  }
  .our .our__form {
    width: 300px;
    height: 46px;
    padding: 16px 20px 16px 20px;
    gap: 12px;
    border-radius: 20px 20px 20px 20px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    flex-direction: column;
    gap: 30px;
  }
  .our .our__input {
    margin-right: 100px;
  }
  .our .our__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: 46px;
    padding: 15px 50px 15px 50px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 720px) {
  .our {
    padding: 50px 30px;
    margin-bottom: 180px;
  }
  .our .our__container {
    max-width: 315px;
    flex-direction: column;
    background: none;
  }
  .our .our__image {
    width: 315px;
    height: 255px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
  }
  .our .our__title {
    width: 215px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
  }
  .our .our__text {
    max-width: 215px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
}
.footer {
  padding: 50px 0;
  background: #3B3B3B;
}
.footer .footer__content {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.footer .footer__icon {
  margin-bottom: 15px;
}
.footer .footer__text {
  max-width: 208px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #CCCCCC;
  margin-bottom: 15px;
}
.footer .footer__name {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #CCCCCC;
  margin-bottom: 15px;
}
.footer .footer__sub-title {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer .footer__item {
  margin-bottom: 15px;
}
.footer .footer__link {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #CCCCCC;
}
.footer .footer__link:hover {
  color: #A259FF;
}
.footer .footer__title {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer .footer__sub-text {
  max-width: 260px;
  height: 44px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #CCCCCC;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px 30px;
  }
  .footer .footer__content {
    flex-direction: column;
  }
  .footer .footer__block {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 724px) {
  .footer {
    padding: 50px 30px;
  }
  .footer .footer__content {
    flex-direction: column;
  }
  .footer .footer__block {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=block.css.map */